<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>title</title>
    <link rel="stylesheet" href="../../src/base.css" />
    <link rel="stylesheet" href="layout.css" />
</head>
<body>
    <div class="header">
        <div class="layout">
            <div class="inner">
                <h1>文章标题</h1>
                <p>天才出于勤奋</p>
            </div>
        </div>
    </div>
    <div class="container layout clearfix">
        <div class="sidebar">
            <div class="inner">
                <h2>sidebar标题</h2>
                <ul>
                    <li>千里之行，始于足下</li>
                    <li>一心走路，笑看人生</li>
                    <li>书上有路勤为径，学海无涯苦作舟</li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="inner">
                <h2>main标题</h2>
                <p>学恶乎始？恶乎终？曰：其数则始乎诵经，终乎读礼；其义则始乎为士，终乎为圣人， 真积力久则入，学至乎没而后止也。故学数有终，若其义则不可须臾舍也。为之，人也；舍 之，禽兽也。故书者，政事之纪也；诗者，中声之所止也；礼者，法之大分，类之纲纪也。故学至乎礼而止矣。夫是之谓道德之极。礼之敬文也，乐之中和也，诗书之博也，春秋之微 也，在天地之间者毕矣。君子之学也，入乎耳，着乎心，布乎四体，形乎动静。端而言，蝡而动，一可以为法则。小人之学也，入乎耳，出乎口；口耳之间，则四寸耳，曷足以美七尺之躯哉！古之学者为己，今之学者为人。君子之学也，以美其身；小人之学也，以为禽犊。故不问而告谓之傲，问一而告二谓之囋。傲、非也，囋、非也；君子如响矣。</p>
                <p>学恶乎始？恶乎终？曰：其数则始乎诵经，终乎读礼；其义则始乎为士，终乎为圣人， 真积力久则入，学至乎没而后止也。故学数有终，若其义则不可须臾舍也。为之，人也；舍 之，禽兽也。故书者，政事之纪也；诗者，中声之所止也；礼者，法之大分，类之纲纪也。故学至乎礼而止矣。夫是之谓道德之极。礼之敬文也，乐之中和也，诗书之博也，春秋之微 也，在天地之间者毕矣。君子之学也，入乎耳，着乎心，布乎四体，形乎动静。端而言，蝡而动，一可以为法则。小人之学也，入乎耳，出乎口；口耳之间，则四寸耳，曷足以美七尺之躯哉！古之学者为己，今之学者为人。君子之学也，以美其身；小人之学也，以为禽犊。故不问而告谓之傲，问一而告二谓之囋。傲、非也，囋、非也；君子如响矣。</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="layout">
            <div class="inner">
                footer
            </div>
        </div>
    </div>

</body>
</html>